In [1]:
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Output, Input
import pathlib
import pandas as pd
from datetime import date
import numpy as np
import datetime

# from app import app   # funktioniert nicht, warum?

In [13]:
# read data from file
data = pd.read_excel(r"data.xlsx")
data.head()

,Document Date,Year/Month,Year,Month,supplier delivery date,delivery date,Company Code,Country,Purchasing Doc.,Item,...,open quantity,Delivery deviation in days,deviation indicator,deviation cause,deviation cause text,Net Value,Local Currency,Counter,Unnamed: 34,Unnamed: 35
0,2019-02-28,NaN,NaN,NaN,2019-03-07,2019-03-07,52,AT,8207406178,1,...,3,NaN,NaN,3,under-delivery,6720.0,EUR,1,NaN,NaN
1,2019-02-28,NaN,NaN,NaN,2019-03-07,2019-03-07,52,AT,8207406178,2,...,3,NaN,NaN,3,under-delivery,18162.0,EUR,1,NaN,NaN
2,2019-02-28,NaN,NaN,NaN,2019-03-07,2019-03-07,52,AT,8207406178,3,...,3,NaN,NaN,3,under-delivery,5710.0,EUR,1,NaN,NaN
3,2019-02-28,NaN,NaN,NaN,2019-03-07,2019-03-07,52,AT,8207406178,4,...,3,NaN,NaN,3,under-delivery,29890.0,EUR,1,NaN,NaN
4,2019-02-28,NaN,NaN,NaN,2019-03-07,2019-03-07,52,AT,8207406178,5,...,3,NaN,NaN,3,under-delivery,9646.0,EUR,1,NaN,NaN

In [14]:
data.drop("Delivery deviation  in days", inplace=True, axis = 1)

In [15]:
# data = data.replace({"Delivery deviation in days": {"NaN": data["delivery date"] - data["supplier delivery date"]}})
data["Delivery deviation in days"] = data["delivery date"] - data["supplier delivery date"]
# data["Delivery deviation in days"] = data["delivery date"] - data["supplier delivery date"]

In [16]:
data["Delivery deviation in days"]

0       0 days
1       0 days
2       0 days
3       0 days
4       0 days
         ...
12131   0 days
12132   0 days
12133   0 days
12134   0 days
12135   0 days
Name: Delivery deviation in days, Length: 12136, dtype: timedelta64[ns]

In [17]:
data["Delivery deviation in days"] = data["Delivery deviation in days"].apply(lambda x: float(x.days))

In [26]:
conditions = [(data['Delivery deviation in days'] <= 0),
              (data['Delivery deviation in days'] >= 1) & (data['Delivery deviation in days'] <= 4),
              (data['Delivery deviation in days'] >= 5) & (data['Delivery deviation in days'] <= 10),
              (data['Delivery deviation in days'] > 10)]

In [27]:
values = ['in time', 'late: < 5 days', 'late: 5 to 10 days', 'late: > 10 days']

In [28]:
data['deviation indicator'] = np.select(conditions, values)

In [35]:
data[['Delivery deviation in days', 'deviation indicator']][14:]

       Delivery deviation in days deviation indicator
14                            0.0             in time
15                            6.0  late: 5 to 10 days
16                            6.0  late: 5 to 10 days
17                            0.0             in time
18                            0.0             in time
...                           ...                 ...
12131                         0.0             in time
12132                         0.0             in time
12133                         0.0             in time
12134                         0.0             in time
12135                         0.0             in time

[12122 rows x 2 columns]

In [42]:
data[117:]

,Document Date,Year/Month,Year,Month,supplier delivery date,delivery date,Company Code,Country,Purchasing Doc.,Item,...,open quantity,deviation indicator,deviation cause,deviation cause text,Net Value,Local Currency,Counter,Unnamed: 34,Unnamed: 35,Delivery deviation in days
117,2019-12-10,NaN,NaN,NaN,2019-12-17,2020-01-08,52,AT,8207855943,1,...,3,late: > 10 days,7,delivery deviation - too late,6090.00,EUR,1,NaN,NaN,22.0
118,2019-12-10,NaN,NaN,NaN,2019-12-17,2019-12-17,52,AT,8207855943,2,...,0,in time,0,no deviation,7420.00,EUR,1,NaN,NaN,0.0
119,2020-01-08,NaN,NaN,NaN,2020-01-15,2020-01-15,52,AT,8207896530,1,...,0,in time,0,no deviation,6090.00,EUR,1,NaN,NaN,0.0
120,2020-01-08,NaN,NaN,NaN,2020-01-15,2020-01-15,52,AT,8207896530,2,...,0,in time,0,no deviation,7420.00,EUR,1,NaN,NaN,0.0
121,2020-01-08,NaN,NaN,NaN,2020-01-15,2020-01-15,52,AT,8207896575,1,...,0,in time,0,no deviation,6090.00,EUR,1,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12131,2020-04-04,NaN,NaN,NaN,2020-04-11,2020-04-11,53,GB,8208031999,4,...,0,in time,0,no deviation,80.86,EUR,1,NaN,NaN,0.0
12132,2020-04-04,NaN,NaN,NaN,2020-04-11,2020-04-11,53,GB,8208031999,5,...,0,in time,0,no deviation,96.82,EUR,1,NaN,NaN,0.0
12133,2020-04-17,NaN,NaN,NaN,2020-04-24,2020-04-24,53,GB,8208040617,1,...,0,in time,0,no deviation,11175.00,EUR,1,NaN,NaN,0.0
12134,2020-04-17,NaN,NaN,NaN,2020-04-24,2020-04-24,53,GB,8208040618,1,...,0,in time,0,no deviation,11175.00,EUR,1,NaN,NaN,0.0
12135,2020-04-17,NaN,NaN,NaN,2020-04-24,2020-04-24,53,GB,8208040619,1,...,0,in time,0,no deviation,11175.00,EUR,1,NaN,NaN,0.0